body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
}

div {
    margin: 10px 0;
}

.satellite-container {
    position: relative;
    width: 100%;
    height: 50px; /* 必要に応じて高さを調整 */
    margin-bottom: 20px;

}

.satellite-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* スムーズな移動 */
    transition: left 1s linear;
}

.satellite-img {
    /* position: absolute;
    top: 10px; */
    width: 30px;
    height: 30px;
    /* スムーズな移動 */
    /* transition: left 1s linear; */
}

.satellite-name {
    position: absolute;
    top: -20px; /* カウントダウンタイマーの上に表示 */
    font-size: 8px; /* フォントサイズを調整 */
    text-align: center;
    width: 40px;
}

.countdown {
    position: absolute;
    top: -10px; /* 画像の上に表示 */
    font-size: 8px;
    text-align: center;	
    width: 100%; /* 中央揃え */
}

.fukuoka-marker {
    position: absolute;
    top: 200px; /* 画像の下 */
    left: 80%; /* デフォルト位置 */
    transform: translateX(-50%);
    font-size: 14px; /* 必要に応じてサイズを調整 */
    text-align: center; /* 中央揃え */
}

.sensor-data {
    margin: 20px;
    font-size: 24px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 24px;
    color: red;
}

#ball {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    display: none;
}