body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
}

div {
    margin: 10px 0;
}

.satellite-container {
    position: relative;
    width: 100%;
    height: 100px; /* 必要に応じて高さを調整 */
}

.satellite-img {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    /* スムーズな移動 */
    transition: left 1s linear;
}

.fukuoka-marker {
    position: absolute;
    top: 180px; /* 画像の下 */
    left: 80%; /* デフォルト位置 */
    transform: translateX(-50%);
    font-size: 14px; /* 必要に応じてサイズを調整 */
    text-align: center; /* 中央揃え */
}