<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>福岡上空のみちびき衛星の次の通過</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <h1 class="text-3xl font-bold my-4 text-center">
        福岡上空のみちびき衛星の次の通過
    </h1>


    <div id="slider-container">
        <!-- スライダー -->
        <label for="time-range">表示範囲 (時間):</label>
        <input type="range" id="time-range" name="time-range" min="6" max="20" value="20"
            oninput="updateRangeValue(this.value)">
        <span id="range-value">20</span>時間
    </div>

    <div class="satellite-container">
        <!-- みちびき衛星の画像 -->
        {% for event in events_info %}
        <div class="satellite-wrapper" id="satellite-wrapper-{{ loop.index0 }}">
            <span class="satellite-name">{{ event.satellite }}</span>
            <span id="countdown-{{ loop.index0 }}" class="countdown"></span>
            <img src="{{ url_for('static', filename='img/' ~ event.satellite | lower ~ '.png') }}"
                id="satellite-img-{{ loop.index0 }}" class="satellite-img" alt="{{ event.satellite }}">
        </div>
        {% endfor %}
    </div>

    <div id="ball">⚫︎</div>
    <canvas id="animationCanvas"></canvas>

    <div class="fukuoka-marker">
        ▲福岡
    </div>
    <div>
        <script type="application/json" id="events-data">
            {{ events_info | tojson }}
        </script>
        <!-- <ul>
            {% for event in events_info %}
            <li>
                {{ event.satellite }}
                <span id="countdown-{{ loop.index0 }}"></span>
            </li>
            {% endfor %}
        </ul> -->
    </div>

    <div>
        <button onClick="deviceMotionRequest()">加速度センサーを有効にする</button>
    </div>
    <div class="sensor-data">
        X: <span id="x">0</span><br>
        Y: <span id="y">0</span><br>
        Z: <span id="z">0</span>
    </div>

    <div id="message"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>